p {
  margin: 0;
}

body {
  background-image: url(../public/glassesImage/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}
.overlay {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.modelBox {
  position: relative;
  z-index: 100;
  width: 230px;
  height: 300px;
}
.info {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(237, 162, 23, 0.509);
  color: #ffff;
  font-size: 12px;
}
.glasses {
  position: absolute;
  top: 75px;
  left: 16%;
  width: 160px;
  opacity: 0.8;
}
.listGlasses {
  z-index: 100;
  background-color: #fff;
}
/* .itemImg {
  filter: drop-shadow(0 7px 29px 0 hsla(240, 6%, 31%, 0.2));
} */
